.post {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
  &-header {
    padding: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #053c5e;
  }
  &-content {
    padding: 10px;
  }
  border: 1px solid gainsboro;
}

.author {
  font-weight: bold;
}

.date {
  font-style: italic;
  font-size: 12px;
}
