.post {
  display: flex;
  width: 100%;
  flex-direction: column;
  &-header {
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #053c5e;
  }
  &-content {
    padding: 10px;
    font-size: 14px;
  }
  &-infos {
    display: flex;
    flex-direction: column;
  }
}

.title {
  font-weight: bold;
}

.meta-data {
  font-style: italic;
  font-size: 12px;
  .author {
    text-decoration: underline;
  }
}
