.profile-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  .profile-btn-delete {
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: min-content;
  }
}
